*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/projectFilesBackup
.idea/*
app/release/*
*.apk

# Windows thumbnail db
Thumbs.db

# OSX files
.DS_Store

# Linux files
*~
*.swp
